<p-dialog
  [header]="editTarget ? 'Edit Category' : 'New Category'"
  i18n-header="@@categoryForm.editTitle"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '480px' }"
  [draggable]="false"
  (onHide)="onCancel()"
>
  <form [formGroup]="form" (ngSubmit)="submit()" class="form-body">
    <div class="field">
      <label for="catName" i18n="@@categoryForm.nameLabel">Name *</label>
      <input
        id="catName"
        pInputText
        formControlName="name"
        placeholder="e.g. Analgesics"
        i18n-placeholder="@@categoryForm.namePlaceholder"
        class="w-full"
        [class.ng-invalid]="isInvalid('name')"
      />
      @if (isInvalid('name')) {
        <small i18n="@@categoryForm.nameRequired" class="p-error">Name is required.</small>
      }
    </div>

    <div class="field">
      <label for="catDesc" i18n="@@categoryForm.descLabel">Description</label>
      <textarea
        id="catDesc"
        pTextarea
        formControlName="description"
        placeholder="Optional description"
        i18n-placeholder="@@productForm.descPlaceholder"
        class="w-full"
        rows="3"
      ></textarea>
    </div>

    @if (editTarget) {
      <div class="field-checkbox">
        <p-checkbox formControlName="isActive" [binary]="true" inputId="catActive" />
        <label for="catActive" i18n="@@categoryForm.activeLabel">Active</label>
      </div>
    }
  </form>

  <ng-template pTemplate="footer">
    <p-button label="Cancel" i18n-label="@@form.cancelBtn" severity="secondary" (onClick)="onCancel()" />
    <p-button
      [label]="editTarget ? 'Update' : 'Create'"
      i18n-label="@@form.saveBtn"
      icon="pi pi-check"
      [loading]="saving()"
      [disabled]="form.invalid || saving()"
      (onClick)="submit()"
    />
  </ng-template>
</p-dialog>
