<nav class="sales-subnav">
  <ul>
    <li>
      <a routerLink="pos" routerLinkActive="active" class="subnav-item">
        <i class="pi pi-calculator"></i>
        <span i18n="@@sales.nav.pos">Point of Sale</span>
      </a>
    </li>
    <li>
      <a routerLink="history" routerLinkActive="active" class="subnav-item">
        <i class="pi pi-list"></i>
        <span i18n="@@sales.nav.history">Sales History</span>
      </a>
    </li>
    <li>
      <a routerLink="conflict-alerts" routerLinkActive="active" class="subnav-item">
        <i class="pi pi-exclamation-circle"></i>
        <span i18n="@@sales.nav.conflictAlerts">Conflict Alerts</span>
      </a>
    </li>
  </ul>
</nav>

<router-outlet />
